{
  # debug
}

https://pinshot.local {
  tls /etc/caddy/cert/cert.pem /etc/caddy/cert/key.pem
  reverse_proxy core:3000
}

https://inbox.pinshot.local {
  tls /etc/caddy/cert/cert.pem /etc/caddy/cert/key.pem
  reverse_proxy notification:3000
}

https://auth.pinshot.local {
  tls /etc/caddy/cert/cert.pem /etc/caddy/cert/key.pem
  reverse_proxy user-gateway:3000
}

